.DS_Store
.idea

# Laravel source folder
src/node_modules
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.env
src/.env.backup
src/.phpunit.result.cache
src/npm-debug.log
src/yarn-error.log

# Docker compose volume
mysql